@import "general.scss";


.button_create {
	height: 100px;
	width: calc(40% + 20px);
	
	.create {
		margin-top: 5px;
		height: 50%;
		
		font-size: 46px;
	}
	
	.neuralnetwork {
		margin-top: 5px;
		
		letter-spacing: 3px;
	}
}

.container_text {
	font-size: 28px;
	
	width: 80%;
	margin: 0 auto 100px auto;
	
	text-align: left;
}

