@import url(//db.onlinewebfonts.com/c/f2ecc6ef740fcf60de095b0b087dd58d?family=OCR+A+Extended);

body {
	font-family: "OCR A Extended", sans-serif;
	
	background-color: #0085d4;
	color: white;

	font-size: 28px;

	margin: 0;
	padding: 0;
}

::selection {
	background-color: rgba(163, 4, 4, 0.753);
	color: white;
}

* {
	font-size: 14px;
	text-align: center;
}

.container {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}