body {
	background-color: #0085D4;
	color: white;
	
	font-size: 28px;
	
	margin: 0;
    padding: 0;
}

::selection{
	background-color: rgba(163, 4, 4, 0.753);
	color: white;
}

* {
	font-size: 14px;
	text-align: center;
}

.container{
	margin: 0;
	padding: 0;
}